
.header-page-button { 
    display: "flex";
    height: "32px";
    padding: 4px 12px;
    justify-content: "center";
    align-items: "center";
    border-radius: 4px;
    color: #656981;
/* 133.333% */
}


.header-page-button:hover { 
    /* background-color: "#1B2441"; */
    cursor: pointer;
    color: #FFF;
}

.header-page-button-active {
    background-color: #1B2441;
    color: #FFF;
}
